{
	"printWidth": 80,
	"tabWidth": 3,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"insertPragma": false,
	"requirePragma": false,
	"vim": false,
	"htmlWhitespaceSensitivity": "css",
	" proseWrap": "preserve",
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"bracketSameLine": false,
	"proseWrap": "always",
	"quoteProps": "as-needed"
}
